.d-block{
    height: 470px;
}
.button{
    margin-left: 500px;
}
.paragrap{
    padding-left: 30px;
    padding-bottom: 0;
}
.button2{
   padding-left: 50px;
   
}
.button3{
    padding-left: 600px;
}
